[onload;file='header.html';getbody] 

    <div class='container'>
        <div class='col-lg-6 col-md-offset-3 input-group search-global'>
            <input type='text' class='form-control input-lg' id='search' placeholder='Search for faction, corporation, item...'>
            <span class='input-group-btn'>
                <button class='btn btn-default' type='button'><span class='glyphicon glyphicon-search'></span></button>
            </span>
        </div>
   
        <div class='col-lg-8 col-md-offset-2 browse'>
            <div id='pri_blk'>
                <a href='[onshow.BASE_PATH]faction/[pri_blk.$;block=a]/'><img src="http://image.eveonline.com/Alliance/[pri_blk.$;block=img]_128.png" /></a>
            </div>
            <hr />
            <div id='sec_blk'>
                <a href='[onshow.BASE_PATH]faction/[sec_blk.$;block=a]/'><img src="http://image.eveonline.com/Alliance/[sec_blk.$;block=img]_128.png" width='96' height='96' /></a>
            </div>
            <hr />
        </div>
        <div style='margin-top: 5em;' class='col-lg-8 col-md-offset-2'>
            <h2>Todo</h2>
            <ul>
                <li>json:</li>
                <ul>
                    <li>faction: get factions and their corps. * returns all</li>
                    <li>lpoffer: get lpoffer info including price invoice. Can be used with dialog box.</li>
                    <li>item: return corps that carry item</li>
                    <li>search: varchar search for corps, factions, etc. Returns name, id, type</li>
                    <li>Have available apis and options automatically displayed for <tt>/json</tt></li>
                </ul>
                <li><del>lpOffer class</del></li>
                <li><del>lpStore class</del></li>
                <li>More cacheing</li>
                <ul>
                    <li><del>BPC calculations, or rather the queries to obtain the materials, are expensive. Cache the results of these (since they don't change, except perhaps on expansions).</del> <ins>Done.</ins></li>
                    <li>Oddly enough, the next big time hog is Redis. Although it's very fast, it's being called hundreds of times for entire stores. Perhaps cache the prices of like items (req items) in an array? Look into how many items are actually shared in req items of offers. This may or may not be worth it. Although, will proabbyl help with BPC calcs as a lot of them use the same minerals. Perhaps use EMDR class the cache prices.</li>
                </ul>
            </ul>
        </div>
   </div><!-- /.container -->

[onload;file='footer.html';getbody]
