[onload;file='header.html';getbody] 
[onload;file='navbar.html';getbody] 

    <div class='container'>
        <div class='col-lg-10 col-md-offset-1 browse'>
            <h3 class='nav'>[onload.offerName]</h3>
            <ul class='nav nav-tabs nav-justified' id='tabs'>
                <li class='active'><a data-toggle='tab' href='#offer'>LP Offer</a></li>
                <li><a data-toggle='tab' href='#stores'>Stores</a></li>
                <li><a data-toggle='tab' href='#similar'>Similar</a></li>
            </ul>
            <div class='tab-content'>
                <div class='tab-pane active' id='offer'>
                    <pre>Show offer information here</pre>
                </div>
                <div class='tab-pane' id='stores'>
                    <pre>Show different stores containing this particular offer</pre>
                </div>
                <div class='tab-pane' id='similar'>
                    <pre>Show similar offers (same typeID)</pre>
                </div>
            </div>
        </div>
   </div><!-- /.container -->

[onload;file='footer.html';getbody]
