[onload;file='header.html';getbody] 
[onload;file='navbar.html';getbody] 

    <div class='container'>
        <div class='col-lg-10 col-md-offset-1 browse'>
            <h3 class='nav'>[onload.corpName]</h3>
            <ul class='nav nav-tabs nav-justified'>
              <li class='active'><a href='#store' data-toggle="tab">LP Store</a></li>
              <li><a href='#info' data-toggle="tab">Info</a></li>
              <li><a href='#systems' data-toggle="tab">Systems</a></li>
            </ul>
            <div class='tab-content'>
                <div class='tab-pane active' id='store'>
                    <table class='table table-striped table-hover table-condensed'>
                        <tr><th>Offer</th><th>LP Cost</th><th>ISK Cost</th><th>ISK/LP</th></tr>
                        <tr>
                            <td><a href='[onshow.BASE_PATH]offer/[offers_blk.offerID]'>[offers_blk.offerDetails.typeName;block=tr]</a></td>
                            <td>[offers_blk.offerDetails.lpCost]</td>
                            <td>[offers_blk.offerDetails.iskCost]</td>
                            <td>[offers_blk.lp2isk;frm='0,000.']</td>
                        </tr>
                    </table>
                </div>
                <div class='tab-pane' id='info'>
                    <pre>Corp info here</pre>
                </div>
                <div class='tab-pane' id='systems'>
                    <pre>List systems here, along with typeahead input for current system</pre>
                </div>
            </div>
        </div>
   </div><!-- /.container -->

[onload;file='footer.html';getbody]
