    /* prevents content from noticably shifting due to scrollbars */
    html { overflow-y: scroll; }
    h1, h2, h3, h4 , h5, h6, legend { font-family: "open sans condensed"; } 
    
    /* h1 is main title of project */
    h1 { text-align: center; padding-bottom: 30px; border-bottom: 1px solid #eee; font-size: 42px; }
    h1 > a { color: inherit; }
    h1 > a:hover { color: inherit; text-decoration: none; }
    
    /* 
        h2 is used as the scondary title 
        (the content of the page, ie: faction, corporation, offer)
    */
    h2 {  }
    
    
    table { width: 100%; }
    .browse { margin-top: 2em; }
    .browse > #pri_blk, .browse > #sec_blk { text-align: center; }
    
    h3 { text-align: center; font-weight: bold; line-height: 70px; border-bottom: 1px solid #eee; margin-top: 0; }
    /* 
        Header that is directly folled by a tabbed navigation
        Not possible to select A when the flow is A ~ B. Must use this special class. 
    */
    h3.nav { border: 0px; }
    
    .tab-content { margin-top: 1em; }
    .search-global{ margin-top: 2em; }
    ::-webkit-input-placeholder { font-style: italic; }
    :-moz-placeholder { font-style: italic; }
    
    /*
        Fixes for 32x32 type images for both condensed rows and regular rows
        Bootstrap condensed rows are 30px high with 1 px top border, this 
        overrides and give the row a 32px hieght (to match image) with 1px 
        border, totaling 33px
    */
    td.typeImg{ padding: 2px 5px 2px 0px !important; width: 42px; }
    .table-condensed td { padding: 6px 5px 6px 0px !important; }
    .table-condensed td.typeImg{ padding: 0px 5px 0px 0px !important; width: 42px; }

    tfoot td { text-align: right; }
    tfoot td:first-child { font-weight: bold; }
    /*
        We want pretty rounded corners on offer imgs.
        We also need to kill off the actual img, otherwise it overwrites the div
    */
    .imgRound {
        border: 0px solid black;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -khtml-border-radius: 5px;
        -webkit-border-radius: 5px;
        width: 32px;
        height: 32px;
    }
    
    .imgRound img{ display:none; }
    
    #offerList td:nth-child(1n+3), #offerList th:nth-child(1n+2) { text-align: right; }
    #stationList td:nth-child(1n+2), #stationList th:nth-child(1n+    2) { text-align: right; }
    #offerSimilar td:nth-child(1n+3), #offerSimilar th:nth-child(1n+3) { text-align: right; }
    #offerReqs td:nth-child(1n+3), #offerReqs th:nth-child(1n+3) { text-align: right; }

    .offerBrief > div > h4 { font-size: 24px; text-align: center; font-weight: bold; line-height: 70px; border-bottom: 1px solid #eee; margin-top: 0; border-top: 1px solid #eee; }
    .offerBrief > div.cost { color: #3a87ad; }
    .offerBrief > div.lp2isk { color: #468847; }
    
    #footer { margin-bottom: 5em; text-align: center;}
    /*
    .tab-content {
        border: 1px solid #ddd;
        border-top: 0px;
        margin-top: 0;
        padding-top: 1em;
    }
    */
