    /* prevents content from noticably shifting due to scrollbars */
    html { overflow-y: scroll; }
    h1, h2, h3, h4 , h5, h6, legend { font-family: "open sans condensed"; } 
    
    /* h1 is main title of project */
    h1 { text-align: center; padding-bottom: 30px; border-bottom: 1px solid #eee; font-size: 42px; }
    h1 > a { color: inherit; }
    h1 > a:hover { color: inherit; text-decoration: none; }
    
    /* 
        h2 is used as the scondary title 
        (the content of the page, ie: faction, corporation, offer)
        @todo: actually... you know... do this...
    */
    h2 {  }

    .center-pills { display: inline-block; }
    
    table { width: 100%; }    
    label { font-weight: normal; } /* Don't like how Bootstrap3 bolds it */
    input ~ small { margin-left: 1em; color: #3a87ad;}
    label.checkbox > span { width: 4.5em; display: inline-block; }
    /* Fix for uniform spacing. for the toggles */
    form fieldset { margin-bottom: 2em; }
    fieldset+.radio, fieldset+.checkbox{ margin-top: -5px;}

    /* Toggleable fieldsets*/
    label.radio ~ fieldset, label.checkbox ~ fieldset{ margin-left: .5em; padding-left: 2.5em; border-left: 1px solid #e9ecee; margin-bottom: 0px; }

    legend:before {content:'\00bb '; padding-right: 0.5em;}
    
    /* Without this, the group filter fielset leaves margin for some reason */
    #offerList { margin-top: 10px; }
    
    .browse { margin-top: 2em; }
    .browse > #pri_blk, .browse > #sec_blk { text-align: center; }
    
    h3 { text-align: center; font-weight: bold; line-height: 70px; border-bottom: 1px solid #eee; margin-top: 0; }
    /* 
        Header that is directly folled by a tabbed navigation
        Not possible to select A when the flow is A ~ B. Must use this special class. 
    */
    h3.nav { border: 0px; }
    
    /* Fill-in-the-blank style for text inputs */
    input[type='text'].fillIn { padding: 0px 0.3em; border-width: 0px 0px 1px; outline: none;}
    
    .tab-content { margin-top: 1em; }
    .search-global{ margin-top: 2em; }
    ::-webkit-input-placeholder { font-style: italic; }
    :-moz-placeholder { font-style: italic; }
    
    /*
        Fixes for 32x32 type images for both condensed rows and regular rows
        Bootstrap condensed rows are 30px high with 1 px top border, this 
        overrides and give the row a 32px hieght (to match image) with 1px 
        border, totaling 33px
    */
    td.typeImg{ padding: 2px 5px 2px 0px !important; width: 42px; }
    .table-condensed td { padding: 6px 5px 6px 0px !important; }
    .table-condensed td.typeImg{ padding: 0px 5px 0px 0px !important; width: 42px; }

    tfoot td { text-align: right; }
    tfoot td:first-child { font-weight: bold; }
    /*
        We want pretty rounded corners on offer imgs.
        We also need to kill off the actual img, otherwise it overwrites the div
    */
    .imgRound {
        border: 0px solid black;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -khtml-border-radius: 5px;
        -webkit-border-radius: 5px;
        width: 32px;
        height: 32px;
    }
    
    .imgRound img{ display:none; }
    
    #offerList td:nth-child(1n+3), #offerList th:nth-child(1n+2) { text-align: right; }
    #stationList td:nth-child(1n+2), #stationList th:nth-child(1n+    2) { text-align: right; }
    #offerSimilar td:nth-child(1n+3), #offerSimilar th:nth-child(1n+3) { text-align: right; }
    #offerReqs td:nth-child(1n+3), #offerReqs th:nth-child(1n+3) { text-align: right; }

    .offerBrief > div > h4 { font-size: 24px; text-align: center; font-weight: bold; line-height: 70px; border-bottom: 1px solid #eee; margin-top: 0; border-top: 1px solid #eee; }
    .offerBrief > div.cost { color: #3a87ad; }
    .offerBrief > div.lp2isk  > h4{ font-size: 32px;  color: #468847; }

    #footer { margin-bottom: 5em; text-align: center;}
    
    .alert { margin-bottom: 10px !important; }
    
    
    /* 
        Bunch of hacks to get the offer details page to look the way I want it to.
        
        The reason for this is becasue there cannot be more than one <thead> per 
        table. I wanted each section to have a header, so thus I had to mimic 
        <thead> by reversing Bootstrap's default styling of odd/even rows. I then 
        added a bit of space between each <tbody> so as to not look too cluttered. 
        Support for ::before is mixed, but who cares.
    */
    .table tbody + tbody { border-top: 0px; }
    .table tbody + tbody::before {
        content: '';
        display: block;
        height: 1em;
    }

    .table-striped>tbody>tr:nth-child(even)>td, .table-striped>tbody>tr:nth-child(even)>th { background-color: #f9f9f9; }
    .table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th { background-color: #fff; }

    .table tbody>tr>th {border-top: 0px; border-bottom: 2px solid #ddd;}
    

    /*
        Corp listing for factions.  Minor tweaks to make it look nice with corp
        image in it. margine-right statement removes double border
    */
    #corp_list a.list-group-item { margin-right: -1px; padding: 2px 5px 2px 5px; border-radius: 0px; }
    #corp_list a > img { margin-right: 5px; } 
    #corp_list { margin-left: 3px; } /* to compensate for the -1 margin of the items * 3 columns */
    
    
    /* Fancy checkboxes and radios */
    
    input[type='checkbox'] {
        -webkit-appearance: none;
        background-color: #fafafa;
        border: 1px solid #cacece;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
        padding: 6px;
        border-radius: 3px;
        display: inline-block;
        position: relative;
        margin-right: 0.3em;
        
    }
    
    input[type='checkbox']:active, input[type='checkbox']:checked:active {
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    }
     
    input[type='checkbox']:checked {
        background-color: #e9ecee;
        border: 1px solid #adb8c0;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
        color: #99a1a7;
    }
    
    input[type='checkbox']:checked:after {
        content: '\2714';
        font-size: 10px;
        position: absolute;
        top: 0px;
        left: 1px;
        color: #99a1a7;
    }
    input[type='checkbox'].toggle:checked:after {
        content: '\25BC';
    }
    
    input[type='radio'] {
        -webkit-appearance: none;
        background-color: #fafafa;
        border: 1px solid #cacece;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
        padding: 6px;
        border-radius: 50px;
        display: inline-block;
        position: relative;
        margin-right: 0.3em;
    }
     
    input[type='radio']:checked:after {
        content: ' ';
        width: 8px;
        height: 8px;
        border-radius: 50px;
        position: absolute;
        top: 2px;
        background: #99a1a7;
        box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
        text-shadow: 0px;
        left: 2px;
        font-size: 32px;
    }
     
    input[type='radio']:checked {
        background-color: #e9ecee;
        color: #99a1a7;
        border: 1px solid #adb8c0;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
    }
     
    input[type='radio']:active, input[type='radio']:checked:active {
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    }
    
    /*
    .tab-content {
        border: 1px solid #ddd;
        border-top: 0px;
        margin-top: 0;
        padding-top: 1em;
    }
    */
